/* Estilos: */

* {

    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

body {

    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FAEBD7;
    background-image: url("../Images/Wallpaper.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

}

#container {

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;

}

#choice {

    height: 300px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.750);
    border: 5px solid #000000;
    border-radius: 10px;

}

#options {

    height: 10%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#options label {

    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: bolder;
    color: #000000;
    margin-right: 2px;
    cursor: text;

}

#options select {

    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    font-size: 15px;
    color: #000000;
    border: none;
    border-radius: 2px;
    margin-left: 2px;
    padding: 2px;
    outline: 2px solid #000000;
    cursor: pointer;

}

#form {

    height: 60%;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

#form label {

    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: bold;
    color: #000000;
    cursor: text;

}

#form input, #form select {

    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    font-size: 15px;
    color: #000000;
    border: none;
    border-radius: 2px;
    padding: 5px;
    outline: 1px solid #000000;
    cursor: pointer;

}

#form input:focus, #form select:focus {

    outline: 2px solid #00007D;
    cursor: text;

}

#cadastro, #edicao, #banimento, #login {

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

#cadastro span {

    height: 30%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

#edicao span {

    height: 22.5%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

#cadastro span label, #cadastro span input {

    height: 60%;

}

#edicao span label, #edicao span input {

    height: 80%;

}

#banimento span, #login span {

    height: 45%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

#banimento span label, #banimento span select, #login span label, #login span input {

    height: 40%;

}

#botao {

    display: none;
    align-items: center;
    justify-content: center;
    border: 3px solid #000000;
    border-radius: 5px;
    background-color: #00007D;
    padding: 5px;
    color: #FFFFFF;
    cursor: pointer;

}