/* Estilos: */

* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

body {

    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FAEBD7;

}

#initialization {

    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;

}

#initialization button {

    height: 150px;
    width: 150px;
    position: absolute;
    background-color: #00007D;
    border: 5px solid #000000;
    border-radius: 10px;
    background-image: url("../Images/Play.png");
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

}

#container {

    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: transparent;

}

.row {

    height: 30%;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

.card {

    height: 90%;
    width: 11%;
    border: 2px solid #00007D;
    background-image: url("../Images/Card.jpg");
    background-size: 101% 101%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    pointer-events: all;

}

.reveal_card {

    /*animation-name: reveal_card;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;*/
    animation: reveal_card 0.75s 1 ease-in-out;

}

.hidden_card {

    /*animation-name: hidden_card;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;*/
    animation: hidden_card 0.75s 1 ease-in-out;

}

#time_banner {

    height: 100%;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: transparent;

}

#time_banner div {

    height: 250px;
    width: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FFFFFF;
    border: 5px solid #000000;
    border-radius: 10px;

}

#time_banner div p {

    font-size: 25px;
    font-weight: bold;
    color: #000000;
    cursor: text;

}

#time_banner div button {

    border: 3px solid #000000;
    border-radius: 10px;
    font-size: 20px;
    color: #FFFFFF;
    padding: 10px;
    cursor: pointer;

}

/* Animações: */

@keyframes reveal_card {

    0% {

        transform: rotateY(0deg);

    }

    100% {

        transform: rotateY(-180deg);

    }

}

@keyframes hidden_card {

    0% {

        transform: rotateY(0deg);

    }

    100% {

        transform: rotateY(180deg);

    }

}