/* Estilos: */

* {

    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

body {

    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FAEBD7;
    background-image: url("../Images/Wallpaper.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

}

#container {

    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;

}

#video-box {

    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;

}

#video-button {

    height: 175px;
    width: 175px;
    position: absolute;
    background-color: #00007D;
    border: 5px solid #FFFFFF;
    border-radius: 10px;
    background-image: url("../Images/Play.png");
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

}

#video {

    height: 100%;
    width: 100%;
    display: none;

}

#skip-video-button {

    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #00007D;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    padding: 10px;
    color: #FFFFFF;
    cursor: pointer;

}

#link-box {

    height: 250px;
    width: 250px;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    background-image: url("../Images/Index_Ball.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: 1s;

}

#link-box a {

    color: #FFFF00;
    text-decoration: none;cursor: pointer;
    margin-top: 20px;
    font-size: 15px;
    cursor: pointer;

}

#link-box a:hover {

    font-size: 20px;
    color: #0000FF;

}

#link-box a:active {

    color: #FF0000;

}