<!DOCTYPE html>

<html lang="pt-br">

    <head>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="icon" type="image/png" href="./View/Assets/Images/Favicon.png">
        <link rel="stylesheet" type="text/css" href="./View/Assets/CSS/Form.css">

        <script defer type="text/javascript" src="./View/Assets/JS/Form.js">  </script>

        <title> Player Data </title>

    </head>

    <body oncontextmenu="return false">

        <div id="container">

            <form id="choice" method="post" action="/form/save">

                <div id="options">

                    <label for="opcao"> Escolha o que deseja fazer: </label>
                    <select id="opcao" name="opcao" onchange="mudar_formulario(document.getElementById('opcao').value)">

                        <option title="Clique aqui, para criar um perfil no jogo." value="cadastro"> Cadastro </option>
                        <option title="Clique aqui, para editar um perfil do jogo." value="edicao"> Edição </option>
                        <option title="Clique aqui, para desativar um perfil do jogo." value="banimento"> Banimento </option>
                        <option title="Clique aqui, para usar um perfil que já exista." value="login" selected> Login </option>

                    </select>

                </div>

                <div id="form">  </div>

                <button id="botao" type="submit" aria-label="Acessar o jogo utilizando meu perfil."> Entrar </button>

            </form>

        </div>
        
    </body>

</html>