<!DOCTYPE html>

<html lang="pt-br">

    <head>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="icon" type="image/png" href="./View/Assets/Images/Favicon.png">
        <link rel="stylesheet" type="text/css" href="./View/Assets/CSS/Index.css">

        <script defer type="text/javascript" src="./View/Assets/JS/Index.js">  </script>

        <title> Blue Lock's Memory Game </title>

    </head>

    <body oncontextmenu="return false">

        <div id="container">

            <div id="video-box">

                <button id="video-button" title="Iniciar vídeo de introdução." onclick="iniciar_video()">  </button>

                <video id="video"> <source src="./View/Assets/Videos/Opening_Video.mp4" type="video/mp4"> </video>
                
            </div>

            <button id="skip-video-button" title="Pular vídeo de introdução." onclick="carregar_pagina_inicial(document.getElementById('video'))"> Pular vídeo </button>
    
            <div id="link-box"> <a title="Iniciar funcionamento da aplicação." href="/form"> START </a> </div>

        </div>
        
    </body>

</html>