<!DOCTYPE html>

<html lang="pt-br">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="icon" type="image/png" href="./View/Assets/Images/Favicon.png">
        <link rel="stylesheet" type="text/css" href="./View/Assets/CSS/Ranking.css">

        <script defer type="text/javascript" src="./View/Assets/JS/Ranking.js">  </script>

        <title> Ranking dos(as) Jogadores(as) </title>

    </head>

    <body oncontextmenu="return false;">

        <div id="container">

            <div id="header">

                <!--<div class="logo">  </div>

                <h1> RANKING DO BLUE LOCK </h1>

                <div class="logo">  </div>-->

                <h1> RANKING DO BLUE LOCK </h1>

            </div>

            <div id="table">

                <table id="data">  </table>

            </div>

        </div>
        
    </body>

</html>